.photos {
  width: 1184px;
  height: 442px;
  display: grid;
  margin: 0;
  padding-left: 48px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 16px;
  row-gap: 16px;
}

.photos__grid {
  width: 284px;
  height: 213px;

}

@media screen and (max-width: 768px) {
  .photos {
    width: 100%;
    max-width: 720px;
    height: 1104px;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 24px 0 24px;
  }

  .photos__grid {
    width: 352px;
    height: 264px;

  }
}

@media screen and (max-width: 320px) {
  .photos {
    width: 100%;
    max-width: 288px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 16px 0 16px;
  }

  .photos__grid {
    width: 288px;
    height: 216px;

  }






}