.place {
  margin: 0 148px 0 148px;
  padding: 92px 0 0 0;
  width: 984px;
  height: auto;
  gap: 40px;

}

.place__container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "title website"
    "image intro"
    "image paragraph"
    "button paragraph"
    "button paragraph-two";
  align-items: start;
  margin: 0;
  padding: 0;
  column-gap: 40px;
  row-gap: 0px;

}


.place__title {
  grid-area: title;
  max-width: 100%;
  height: auto;
  font-family: Inter, sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;

}

.place__image {
  grid-area: image;
  object-fit: cover;
  width: 460px;
  height: 460px;
  box-shadow: 10px 10px 25px 0px #00000080;
  margin-top: 48px;

}

.place__button {
  grid-area: button;
  width: 356px;
  height: 48px;
  border-radius: 4px;
  padding-top: 13px;
  padding-right: 20px;
  padding-bottom: 13px;
  padding-left: 20px;
  gap: 10px;
  background: linear-gradient(90deg, #0278FE 0%, #003A7B 99.98%);
  display: flex;
  text-align: center;
  align-items: center;
  margin-top: 48px;
  box-shadow: 5px 5px 10px 0px #00000040;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;

}

.place__button:hover {
  background: linear-gradient(90deg, rgba(2, 120, 254, 0.25) 0%, rgba(0, 58, 123, 0.25) 99.98%);
  cursor: pointer;
  box-shadow: 5px 5px 10px 0px #00000040;

}

.place__button-text {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.0;
  color: #fff;
}


.place__website {
  align-self: end;
  grid-area: website;
  margin: 0;
}

.place__text {

  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.0;
  text-transform: uppercase;
  color: #AAAAAA;
  margin: 0 0 8px;
}

.place__artist {
  margin: 0;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;


}

.place__intro {
  grid-area: intro;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
  max-width: 100%;
  height: auto;
  margin: 48px 0 0 0;
}

.place__paragraph {
  grid-area: paragraph;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
  max-width: 100%;
  height: auto;
  margin: 25px 0 0 0;
}

.place__paragraph-two {
  grid-area: paragraph-two;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
  margin-top: 0;
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  .place {
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 88px 24px 0 24px;

  }

  .place__container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 340px 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "title website"
      "image intro"
      "image paragraph"
      "button intro"
      "button intro"
      "button paragraph"
      "button paragraph-two";
    align-items: start;
    margin: 0;
    padding: 0;
    column-gap: 28px;
    row-gap: 0px;
  }

  .place__image {
    grid-area: image;
    width: 100%;
    max-width: 340px;
    height: 340px;
    box-shadow: 10px 10px 25px 0px #00000080;
    object-fit: cover;
    margin: 0;
  }

  .place__button {
    grid-area: button;
    width: 355px;
    height: 48px;
    justify-self: start;
    align-self: start;
    border-radius: 4px;
    padding: 0;
    margin: 48px 0 0 0;

  }

  .place__title {
    grid-area: title;
    font-size: 42px;
    line-height: 46px;
    width: 100%;
    height: auto;
    margin: 0 28px 48px 0;
  }

  .place__intro {
    grid-area: intro;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    margin-top: 0;

  }

  .place__website {
    grid-area: website;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 14px;
    margin: 0 0 48px 0;
  }

  .place__paragraph {
    grid-area: paragraph;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    margin: 25px 0 0 0;
  }

  .place__paragraph-two {
    grid-area: paragraph-two;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.63;
    margin-top: 0;
  }


}


@media screen and (min-width: 375px) and (max-width: 599px) {
  .place__container {
    width: 100%;
    max-width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "website"
      "image"
      "intro"
      "paragraph"
      "paragraph-two"
      "button";
    justify-items: center;

  }

  .place__image {
    grid-area: image;
    width: 320px;
    height: 320px;
    object-fit: cover;
    box-shadow: 10px 10px 25px 0px #00000080;
    margin: 24px 0 24px 0;

  }

  .place__title {
    width: 100%;
    max-width: 320px;
    grid-area: title;
    justify-items: start;
    font-size: 32px;
    margin: 0;
  }

  .place__intro {
    width: 100%;
    max-width: 370px;
    grid-area: intro;
    text-align: center;
    font-size: 14px;
  }

  .place__paragraph {
    grid-area: paragraph;
    width: 100%;
    max-width: 370px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 14px;
    margin: 24px 0 0 0;
  }

  .place__paragraph-two {
    grid-area: paragraph-two;
    width: 100%;
    max-width: 370px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.63;
    margin: 24px 0 0 0;
  }

  .place__website {
    grid-area: website;
    text-align: center;
    justify-items: start;
    width: 100%;
    max-width: 320px;
  }

  .place__button {
    grid-area: button;
    width: 256px;
    margin: 30px 0 30px 0;
    justify-self: center;
  }
}


@media screen and (min-width: 320px) and (max-width: 374px) {
  * {
    margin: 0;
    padding: 0;
  }

  .place {
    width: 100%;
    max-width: auto;
    margin: 0;
    padding: 0;

  }

  .place__container {
    width: 100%;
    max-width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "title"
      "website"
      "image"
      "intro"
      "paragraph"
      "paragraph-two"
      "button";
    row-gap: 0px;
    margin: 0;
    padding: 0;
    justify-items: start;
    align-items: center;
  }

  .place__image {
    grid-area: image;
    width: 320px;
    height: 320px;
    box-shadow: 10px 10px 25px 0px #00000080;
    margin: 0;
    justify-items: center;
    align-items: center;
    object-fit: cover;
  }

  .place__button {
    grid-area: button;
    width: 288px;
    height: 48px;
    padding: 0;
    margin: 30px 16px 0 16px;
    border-radius: 4px;

  }

  .place__button-text {
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.0;
    text-align: center;

  }

  .place__title {
    grid-area: title;
    font-size: 32px;
    line-height: 35px;
    width: 100%;
    height: auto;
    text-align: start;
    margin: 62px 16px 30px 16px;

  }

  .place__location {
    margin: 50px 16px 30px 16px;
    text-align: start;
  }

  .place__intro {
    grid-area: intro;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 30px 16px 25px 16px;
    text-align: start;

  }

  .place__paragraph {
    grid-area: paragraph;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 0 16px 0 16px;
    text-align: start;

  }

  .place__paragraph-two {
    grid-area: paragraph-two;
    width: 288px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.63;
    margin: 25px 16px 0 16px;
  }

  .place__website {
    grid-area: website;
    text-align: start;
    margin: 0 16px 30px 16px;
  }


}