.places {
  margin: 0 148px 0 148px;
  padding: 0;
  max-width: 100%;
  height: auto;


}

.place {
  width: 984px;
  height: auto;
  gap: 40px;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr 1fr;
}

.place__container {
  margin-top: 92px;

}

.place__title {
  max-width: 100%;
  height: auto;
  font-family: Inter, sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;

}

.place_image {
  max-width: 100%;
  height: auto;
  box-shadow: 10px 10px 25px 0px #00000080;
  margin-top: 48px;

}

.place__button {
  width: 356px;
  height: 48px;
  border-radius: 4px;
  padding-top: 13px;
  padding-right: 20px;
  padding-bottom: 13px;
  padding-left: 20px;
  gap: 10px;
  background: linear-gradient(90deg, #0278FE 0%, #003A7B 99.98%);
  display: flex;
  text-align: center;
  align-items: center;
  margin-top: 48px;
  box-shadow: 5px 5px 10px 0px #00000040;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;

}

.place__button:hover {
  background: linear-gradient(90deg, rgba(2, 120, 254, 0.25) 0%, rgba(0, 58, 123, 0.25) 99.98%);
  cursor: pointer;
  box-shadow: 5px 5px 10px 0px #00000040;

}

.place__button-text {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.0;
  letter-spacing: 0%;
  color: #fff;
}

.place__info {
  margin-top: 253px;
  max-width: 984px;
  height: 3338px;
}

.place__website {
  margin: 0;
}

.place__text {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.0;
  text-transform: uppercase;
  color: #AAAAAA;
  letter-spacing: 12%;
  margin: 0 0 8px;
}

.place__artist {
  margin: 0;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0%;

}

.place__intro {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
  letter-spacing: 0%;
  max-width: 100%;
  height: auto;
  margin: 48px 0 25px;
}

.place__paragraph {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
  letter-spacing: 0%;
  max-width: 100%;
  height: auto;
  margin: 0;
}